.weatherContainer {
    padding-top: 0px !important;
    margin-top: 0px;
    height: 100vh;
    background-color: rgb(255, 5, 5);
}
.weatherDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}