.container  {
    background-color: #2a5cc1;
    width: 100vh;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

.card {
    background-color: white;
    width: 100%;
    
}