.container {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    padding-right: 1%;
    align-items: start;
    background-color:rgb(234, 230, 230);
    height: 100vh ;

    @media  (max-width: 1000px) {
        
        flex-direction: column;
        padding-top: 3%;
        padding-left: 2%;

        
    }
}

.img {
    object-fit: cover;
    max-width: 50%;
    border-radius: 15px;
    margin-top: 2%;
    @media  (max-width: 700px) {
        
        background-color: blue;
      
        max-width: 100%;
        
    };
    @media  (min-width:701px) and (max-width: 1000px) {
        
        margin-left: 10%;
        max-width: 80%;
        
    }



}